$black: #212529;
$white: #fff;
$gray: #f2f2f2;
$gray-border: #ccc;
$small-font-size: 0.85rem;
$border-radius: 0.25rem;

/* Accessibility: focus */ 
:focus {
  outline: 4px solid rgb(77, 144, 254);
}

/* Accessibility: skip link */
[href="#main"] {
  font-weight: bold; 
  display: block;
  width: 100%;
  padding: 1.5rem;
  color: $white;
  background: $black;
  position: absolute;
  top: -5rem;
  text-align: center;
  z-index: 1;
}
[href="#main"]:focus {
  top: 0;
  outline: none;
}

/* For readability */
.container {
  max-width: 750px;
}

/* Images */
img {
  max-width:100%;
  height:auto;
}

/* Code blocks */
pre {
  background-color: $gray;
  border: 1px solid $gray-border;
  border-radius: $border-radius;
  padding: 1rem;
}

/* Badges */
.badge-gray {
  color: $black;
  background-color: $gray;
  border: 1px solid $gray-border;
  font-weight: normal;
}

/* Buttons */
.btn-gray,
.btn-gray:hover {
  color: $black;
  background-color: $gray;
  border-color: $gray-border;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

/* Nav */
.nav {
  font-weight: bold;
  border: 1px solid;
}
.nav a {
  color: $black;
}
.nav-pills .nav-link {
  border-radius: 0;
}
.nav-pills .nav-link.active {
  color: $white;
  background-color: $black;
}

/* Table of contents */
.toc {
  font-size: $small-font-size;
  border: 1px solid; 
  border-radius: $border-radius;
  padding: 1rem;
  margin-bottom: 1rem;
}
.toc ol {
  margin-bottom: 0;
}
