{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ $type := .Type }}
  {{ range $key, $value := .Data.Terms.ByCount }}
  {{ $name := .Name }}
  {{ $count := .Count }}
  {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
  <div class="row">
    <div class="col-auto pr-1">
      <span class="badge badge-secondary">
        {{ $count }}
      </span>
    </div>
    <div class="col-auto pl-1">
      <a href="{{ .Permalink }}">
        {{ $name }}
      </a>
    </div>
  </div>
  {{ end }}
  {{ end }}
{{ end }}
