{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ $type := .Type }}
  {{ range $key, $value := .Data.Terms.ByCount }}
    <div class="row">
      {{ $name := .Name }}
      {{ $count := .Count }}
      {{ with site.GetPage (printf "/%s/%s" $type $name) }}
        <div class="col-auto pr-1">
          <span class="badge badge-secondary">{{ $count }}</span>
        </div>
        <div class="col pl-1">
          <a href="{{ .Permalink }}">{{ $name }}</a>
        </div>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
