/* For readability */
.container {
  max-width: 800px;
}

/* Images */
img {
  max-width:100%;
  height:auto;
}

/* Code blocks */
pre {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 0.25rem;
  padding: 1rem;
}

/* Nav */
.nav {
  background-color: #f7f7f9;
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.nav-pills a {
  color: #212529;
}
.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #212529;
}

/* Post info */
.post-info {
  font-size: 0.85rem;
}

/* Table of contents */
.toc {
  font-size: 0.85rem;
  border: 1px solid; 
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.toc ol {
  margin-bottom: 0;
}

/* Footer */
.footer {
  font-size: 0.85rem;
}
