{{ $featherJs := resources.Get "js/feather.js" | fingerprint }}
<script src="{{ $featherJs.Permalink }}"></script>

<script>
  var icon = '<i data-feather="link"></i>';
  var headings = document.getElementsByTagName('h2');
  for (var i = 0; i < headings.length; i++) {
    var id = headings[i].id;
    var iconLink = '<a href="#' + id + '">' + icon + '</a> ';
    var headingWithIconLink = iconLink + headings[i].innerHTML;
    headings[i].innerHTML = headingWithIconLink;
  }
</script>

<script>
  feather.replace()
</script>
